{% extends 'base.html.twig' %}

{% block title %}Sandbox Notes!{% endblock %}

{% block body %}

    <div class="list-group">
    {% for note in notes %}
        <a class="list-group-item list-group-item-action" href="{{ path('note_detail', {'id': note.id}) }}">
            {{ note.title }} {{ note.tags | length }}
        </a>
    {% else %}
        <a class="list-group-item list-group-item-action">There are no note to display to far... add one ?</a>
    {% endfor %}
    </div>
    
{% endblock %}
